.typeahead-list {
  margin-top: 1.3em;
  margin-right: 1em;
  z-index: 999;

  .list-group-item {
    padding: 0.5em;

    &.cond-underlineNounVerb-true {
      .pos-NOUN {
        text-decoration: #32a9fd solid underline;
      }
      .pos-VERB {
        text-decoration: #13b755 solid underline;
      }
    }

    &.cond-greyAuxiliaries-true {
      .pos-DET,
      .pos-PUNCT,
      .pos-ADP,
      .pos-AUX {
        color: #c3c3c3;
      }
    }
  }
}
