.email-header {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.editor-wrapper {
  border: 1px solid #ddd;
  border-radius: 3px;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  
  .text-append {
    font-size: 16px;
    color: #888;
    font-family: Georgia,serif;
  }

  .editor {
    border: none;
  
    .editor-toolbar {
      display: none;
    }

    .public-DraftEditor-content {
      min-height: 7em;
      padding: 0 !important;
    }
    
  }  
}

